[MASTER]
extension-pkg-whitelist=PySide2.QtCore,PySide2.QtGui,PySide2.QtWidgets
init-hook='import sys; sys.path.append("src/main/python")'

[MESSAGES CONTROL]
disable=invalid-name,
        too-few-public-methods,
        missing-module-docstring,
        broad-except,
        too-many-return-statements,
        no-else-raise,
        no-else-return,
        raise-missing-from,
        too-many-arguments,
        too-many-instance-attributes,
        missing-class-docstring,
        attribute-defined-outside-init,
        line-too-long,
        duplicate-code,
        unused-argument,
        blacklisted-name,
        no-member