[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
bandit = "*"
pylint = "*"
autoflake = "*"
isort = "*"

[packages]
# base execution
loguru = "*"
patool = "*"
PySide6 = "*"
# building
pyinstaller = "*"
pywin32 = "*"
pywin32-ctypes = "*"
win32_setctime = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
