[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
bandit = "*"
pylint = "*"
autoflake = "*"
isort = "*"

[packages]
patool = "*"
pyside2 = "*"
fbs = "*"
loguru = "*"
pywin32 = "*"
pywin32-ctypes = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
