%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-208b-grand-caravan-ex\SimObjects\Airplanes\Asobo_208B_GRAND_CARAVAN_EX\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-a320-neo\SimObjects\AirPlanes\Asobo_A320_NEO\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-b7478i\SimObjects\Airplanes\Asobo_B747_8i\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-bonanza-g36\SimObjects\Airplanes\Asobo_Bonanza_G36\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-c152\SimObjects\Airplanes\Asobo_C152\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-c172sp-as1000\SimObjects\Airplanes\Asobo_C172sp_AS1000\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-cap10c\SimObjects\Airplanes\Asobo_Cap10C\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-cj4\SimObjects\Airplanes\Asobo_CJ4\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-da40-ng\SimObjects\Airplanes\Asobo_DA40_NG\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-da62\SimObjects\Airplanes\Asobo_DA62\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-dr400\SimObjects\Airplanes\Asobo_DR400\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-e330\SimObjects\Airplanes\Asobo_E330\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-flightdesignct\SimObjects\Airplanes\Asobo_FlightDesignCT\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-generic-airliner-quadengines\SimObjects\Airplanes\Asobo_Generic_Airliner_QuadEngines\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-generic-airliner-twinengines\SimObjects\Airplanes\Asobo_Generic_Airliner_TwinEngines\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-generic-piston-multiengines\SimObjects\Airplanes\Asobo_Generic_Piston_MultiEngines\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-generic-piston-singleengine\SimObjects\Airplanes\Asobo_Generic_Piston_SingleEngine\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-generic-privatejet\SimObjects\Airplanes\Asobo_Generic_PrivateJet\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-generic-turbo-multiengines\SimObjects\Airplanes\Asobo_Generic_Turbo_MultiEngines\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-generic-turbo-singleengine\SimObjects\Airplanes\Asobo_Generic_Turbo_SingleEngine\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-icon\SimObjects\Airplanes\Asobo_Icon\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-kingair350\SimObjects\Airplanes\Asobo_KingAir350\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-pitts\SimObjects\Airplanes\Asobo_Pitts\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-savage-cub\SimObjects\Airplanes\Asobo_Savage_Cub\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-tbm930\SimObjects\Airplanes\Asobo_TBM930\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-vl3\SimObjects\Airplanes\Asobo_VL3\flight_model.cfg
%APPDATA%\Microsoft Flight Simulator\Packages\Official\Steam\asobo-aircraft-xcub\SimObjects\Airplanes\Asobo_XCub\flight_model.cfg